@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  height: auto;
  font-family: sans-serif;
}

/* Add scroll padding to account for fixed navbar */
html {
  scroll-padding-top: 120px; /* Adjust this value based on your navbar height */
}
